In [29]:
import numpy as np
import pandas as pd

In [30]:
data = {
    'Category': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B'],
    'Store': ['S1', 'S1', 'S2', 'S2', 'S1', 'S2', 'S2', 'S1'],
    'Sales': [100, 200, 150, 250, 120, 180, 200, 300],
    'Quantity': [10, 15, 12, 18, 8, 20, 15, 25],
    'Date': pd.date_range('2023-01-01', periods=8)
}
df = pd.DataFrame(data)

In [19]:
df

  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2023-01-01
1        B    S1    200        15 2023-01-02
2        A    S2    150        12 2023-01-03
3        B    S2    250        18 2023-01-04
4        A    S1    120         8 2023-01-05
5        B    S2    180        20 2023-01-06
6        A    S2    200        15 2023-01-07
7        B    S1    300        25 2023-01-08

In [20]:
# GroupBy Category and calculate sum of sales
result = df.groupby('Category')

for i,v in result:
    print(i)
    print(v)

A
  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2023-01-01
2        A    S2    150        12 2023-01-03
4        A    S1    120         8 2023-01-05
6        A    S2    200        15 2023-01-07
B
  Category Store  Sales  Quantity       Date
1        B    S1    200        15 2023-01-02
3        B    S2    250        18 2023-01-04
5        B    S2    180        20 2023-01-06
7        B    S1    300        25 2023-01-08

In [21]:
result = df.groupby('Category')['Sales'].sum()
result

Category
A    570
B    930
Name: Sales, dtype: int64

In [22]:
# GroupBy Stores and calculate sales
sales_sum = df.groupby('Store')['Sales'].sum()
sales_sum

Store
S1    720
S2    780
Name: Sales, dtype: int64

In [23]:
# GroupBy multiple columns
# GroupBy Category and Store
sales_sum = df.groupby(['Category','Store'])['Sales'].sum()
sales_sum

Category  Store
A         S1       220
          S2       350
B         S1       500
          S2       430
Name: Sales, dtype: int64

### Aggregation

In [28]:
sales_mean = df['Sales'].mean()
""" mean, median, min, max, standard deviation, count, sum  """
sales_mean

np.float64(187.5)

In [33]:
df['Sales'].agg(['mean', 'median', 'std', 'count', 'sum', 'min', 'max']) # Does work with mode

mean       187.500000
median     190.000000
std         66.062741
count        8.000000
sum       1500.000000
min        100.000000
max        300.000000
Name: Sales, dtype: float64